.paoBox {
  border-radius: 25px;
  height: 50px;
  margin-bottom: 20px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  color: white;
  font-size: $font-size-large;
  font-weight: 300;
}

.paoBox__title {
  // display: flex;
  // justify-content: center;
}

.paoBox--red {
  background: #ff0000;
}

.paoBox--amber {
  background: #ffbf00;
}

.paoBox--green {
  background: #73ad21;
}
