.results-box {
  align-items: center;
  background: url("/images/fireworks_Smaller.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.results-layout {
  background: fade-out(white, 0.15);
  border-radius: 5px;
  padding: 12px 10px;
  text-align: center;
  font-weight: bold;
}

.results-box__heading {
  font-size: 5rem;
}

.results-box__title {
  font-size: 3rem;
}

@media (min-width: 768px) {
  .result-box {
    background: url("/images/fireworks_Large.jpg");
  }
  .results-layout {
    padding: $l-size $m-size;
  }
}
